:root {
    --white: #FFF;
    --black: #000;
    --orange: #FF9900;
    --hover-orange: #FFB84D;
    --active-orange: #E1670E;
    --gray: #414141;
    --section-margin: 100px;
    --nav-margin: 85px;
    --inner-section-margin: 50px;
}

body {
    min-width: 320px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    color: #000000;
    background-color: var(--white);
}

section {
    padding-bottom: var(--section-margin);
}

section:last-child {
    margin-bottom: 0;
}

.container {
    padding: 0 4%;
}

.flex {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

.btn {
    padding: 25px 39px;
    border: 0;
    border-radius: 16px;
    font-weight: 700;
    font-size: 23px;
    color: var(--white);
    background-color: var(--orange);
    transition: background-color 0.1s ease-in-out;
}

.btn:hover, .btn:focus {
    background-color: var(--hover-orange);
}

.btn:active {
    background-color: var(--active-orange);
}

.third-headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

.section-headline {
    font-size: 48px;
    margin-bottom: 20px;

}

/*HEADER*/

.header {
    padding: 14px 75px;
    justify-content: space-between;
    border-radius: 0px 0px 32px 32px;
    background-color: var(--white);
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.navigation {
    margin-left: 270px;
}

.navigation-item {
    position: relative;
    margin-right: var(--nav-margin);
    font-weight: 600;
    font-size: 18px;
    transition: color 0.1s ease-in-out;
}

.navigation-item:last-child {
    margin-right: 0;
}

.navigation-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: rgba(0, 0, 0, 0);
    transform: scaleX(0);
    transition: background-color 0.3s ease-in-out,
                transform 0.3s ease-in-out;
}

.navigation-item:hover::after {
    background-color: var(--hover-orange);
    transform: scaleX(1);
}

.navigation-item:focus {
    outline-offset: 1px;
    outline: 2px solid var(--hover-orange);
}

.navigation-item:active {
    color: var(--active-orange);
}

.navigation-item:active::after {
    background-color: var(--active-orange);
}

.header-search:hover {
    stroke: var(--hover-orange);
}

.header-search:hover path {
    stroke: var(--hover-orange);
}

.header-search:focus {
    stroke: var(--black);
    outline: 2px solid var(--hover-orange);
    outline-offset: 1px;
}

/*MAIN SECTION*/

.order-calc {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: var(--inner-section-margin) 0;
    border-radius: 32px;
    background-image: url("../img/low-angle-photo-of-balconies-2462015\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.order-calc-content {
    margin-left: 80px;
    max-width: 50%;
    color: var(--white);
}

.order-calc-headline {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 70px;
}

.order-calc-paragraph {
    margin-bottom: 90px;
    font-weight: 700;
    font-size: 24px;
}

.order-calc-ellipses {
    white-space: nowrap;
    position: absolute;
    left: calc(50% - (85px / 2));
    bottom: 26px;
}

.order-calc-ellipses-item:not(:last-child) {
    margin-right: 20px;
}

.main-section-par {
    max-width: 71%;
    margin-bottom: var(--inner-section-margin);
    font-size: 16px;
    line-height: 32px;
}

.main-section-table {
    width: 100%;
}

.table-big {
    min-width: 868px;
    padding-top: 426px;
    margin-right: 32px;
    background-image: url("../img/How\ we\ work.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.table-big-content {
    padding: 50px 50px;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 32px;
}

.big-content-par {
    max-width: 60%;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: var(--white);
}

.big-content-btn {
    padding: 19px 35px;
    border: 3px solid var(--orange);
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.1s ease-in-out,
                border-color 0.1s ease-in-out;
}

.big-content-btn:hover, .big-content-btn:focus {
    background-color: var(--orange);
}

.big-content-btn:active {
    border-color: var(--active-orange);
    background-color: var(--active-orange);
}

.table-small {
    flex-direction: column;
    align-items: baseline;
}

.small-item {
    padding: 60px 120px 60px 300px;
    border: 1px solid #cacaca;
    border-radius: 32px;
    background-repeat: no-repeat;
    background-position: 9% 50%;
}

.small-item:not(:last-child) {
    margin-bottom: 42px;
}

.small-item-bg1 {
    background-image: url("../img/Packege.svg");
}

.small-item-bg2 {
    background-image: url("../img/Screew.svg");
}

.small-item-par {
    max-width: 450px;
    line-height: 32px;
}

/*HOW WE WORK SECTION*/

.how-headline {
    margin-bottom: var(--inner-section-margin);
}

.how-nav {
    margin-bottom: var(--inner-section-margin);
}

.how-nav-item {
    margin-right: 85px;
    font-size: 18px;
    transition: color 0.1s ease-in-out;
}

.how-nav-item:last-child {
    margin-right: 0;
}

.how-nav-item:hover {
    color: var(--hover-orange);
}

.how-nav-item:focus {
    outline: 2px solid var(--hover-orange);
    outline-offset: 1px;
}

.how-nav-item:active {
    color: var(--active-orange);
}

.how-table-par {
    margin-bottom: 18px;
    max-width: 758px;
    line-height: 32px;
}

.how-table {
    justify-content: space-between;
}

.how-table-more {
    padding: 20px 38px;
    font-size: 16px;
    margin-right: 32px;
    transition: background-color 0.1s ease-in-out;
}

.how-table-document {
    padding: 20px 38px;
    border: 1px solid var(--black);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    transition: background-color 0.1s ease-in-out,
                border-color 0.1s ease-in-out,
                color 0.1s ease-in-out;
}

.how-table-document:hover, .how-table-document:focus {
    background-color: #666;
    border-color: #666;
    color: var(--white);
}

.how-table-document:active {
    background-color: var(--black);
    border-color: var(--black);
}

/*QA*/

.qa-section {
    padding-top: 10px;
}

.qa-headline {
    margin-bottom: 32px;
}

.qa-list-item {
    padding: 30px 0;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cacaca;
    border-left: none;
    border-right: none;
    transition: border-color 0.1s ease-in-out;
}

.qa-list-item:not(:first-child) {
    margin-top: -1px;
}

.qa-item-headline {
    transition: color 0.1s ease-in-out;
}

.qa-item-svg ellipse {
    transition: fill 0.1s ease-in-out;
}

.qa-item-svg path {
    transform-origin: center center;
    transition: fill 0.1s ease-in-out,
                transform 0.1s ease-in-out;
}

.qa-list-item:hover + .qa-list-item, .qa-list-item:focus  + .qa-list-item {
    border-top-color: rgba(0, 0, 0, 0);
}

.qa-list-item:hover, .qa-list-item:focus {
    border-color: var(--hover-orange);
}

.qa-list-item:hover .qa-item-headline, .qa-list-item:focus .qa-item-headline {
    color: var(--hover-orange);
}

.qa-list-item:hover .qa-item-svg ellipse, .qa-list-item:focus .qa-item-svg ellipse {
    fill: var(--hover-orange);
}

.qa-list-item:hover .qa-item-svg path, .qa-list-item:focus .qa-item-svg path {
    fill: var(--white);
}

.qa-list-item:active {
    border-color: #cacaca;
}

.qa-list-item:active .qa-item-headline{
    color: var(--black);
}

.qa-list-item:active .qa-item-svg ellipse{
    fill: #cacaca;
}

.qa-list-item:active .qa-item-svg path{
    fill: var(--black);
    transform: rotate(45deg);
}

/*FOOTER*/

.footer {
    padding: 50px 75px;
    align-items: baseline;
    background-color: var(--black);
    color: var(--white);
}

.footer-flex {
    justify-content: space-between;
    align-items: flex-start;
}

.footer-list {
    margin: 20px 0 90px 0;
}

.footer-list-item {
    line-height: 36px;
    transition: color 0.1s ease-in-out;
}



.footer-list-item:hover {
    color: var(--hover-orange);
} 

.footer-list-item:focus {
    outline: 2px solid var(--hover-orange);
    outline-offset: 1px;
}

.footer-list-item:active {
    color: var(--active-orange);
}

.footer-logos-item:not(:last-child) {
    margin-right: 25px;
}

.footer-logos-item * {
    transition: fill 0.1s ease-in-out;
}

.footer-logos-item:hover * {
    fill: var(--hover-orange);
}

.footer-logos-item:focus {
    outline: 2px solid var(--hover-orange);
    outline-offset: 1px;
}

.footer-logos-item:active * {
    fill: var(--active-orange);
}

.footer-form {
    flex-direction: column;
    padding-left: 103px;
}

.footer-form-headline {
    margin-left: 0;
    margin-right: auto;
    color: #cacaca;
}

.footer-form-text {
    width: 546px;
    height: 36px;
    padding: 14px 24px;
    margin-bottom: 32px;
    border: none;
    border-radius: 16px;
    color: #cacaca;
    background-color: #414141;
    transition: background-color 0.1s ease-in-out;
}

.footer-form-text:last-child {
    height: 136px;
    margin-bottom: 32px;
}

.footer-form-text:hover, .footer-form-text:focus {
    background-color: #666;
}

.footer-form-text:active {
    color: var(--white);
}

.footer-form-message {
    position: relative;
    height: calc(150px - 28px);
}
.footer-form-message::placeholder {
    position: relative;
    top: calc(-150px / 2 + 28px);
}

.footer-form-btn-cotainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer-form-btn {
    padding: 19px 52px;
    margin-right: 22px;
    font-size: 16px;
}

.footer-form-checbox {
    visibility: hidden;
}

.footer-form-lable {
    position: relative;
    font-size: 16px;
    color: #cacaca;
}

.footer-form-lable::before {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    bottom: 2px;
    left: -18px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

.footer-form-checbox:checked+.footer-form-lable::before {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    bottom: 2px;
    left: -18px;
    background-image: url("../img/Okay.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-par {
    align-self: center;
    max-width: 20%;
    line-height: 32px;
}